<!DOCTYPE html>
<html>
  <head>
    <title>Tic Tac Toe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag %>
  </head>

  <body>
  <div class='gameboard'>
		<h1>Tic Tac Toe!</h1>
		<table id="board">
        <tr>
          <td id="cell-1"></td>
          <td id="cell-2"></td>
          <td id="cell-3"></td>
        </tr>
        <tr>
          <td id="cell-4"></td>
          <td id="cell-5"></td>
          <td id="cell-6"></td>
        </tr>
        <tr>
          <td id="cell-7"></td>
          <td id="cell-8"></td>
          <td id="cell-9"></td>
        </tr>
      </table>
	</div>

	<%= link_to "Home", root_path %>

  </body>
</html>