<!DOCTYPE html>
  <html>

<head>
  <title>FrancisGamble</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>

  <body>
  <%= render 'partials/header' %>
	 <h2>Games:</h2>
  <%= link_to "Tic Tac Toe", tictactoe_index_path %>
  
</body>

   <div class="games">
	  <h2 class="play">Play =></h2>
    <%= link_to "tic-tac-toe", tictactoe_index_path, class: "tictactoe-route" %>
    </div>
  </div>

  </body>
</html>
