<!DOCTYPE html>
<html>
  <head>
    <title>Francis Gamble</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'games', 'data-turbo-track': 'reload' %>
  </head>

  <body>
    <%= render 'partials/header' %>
    <div class='gameContainer'>
      <h2>Games:</h2>
      <div class='tictacA'>
        <%= link_to 'Tic Tac Toe', tictactoe_index_path %>
      </div>
      <div class='tictacA'>
        <%= link_to 'Checkers', checkers_show_path %>
      </div>
    </div>

  </body>
</html>
