<!DOCTYPE html>
<html>
  <head>

    <title>Tic Tac Toe</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'tictactoe', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

<h1>All Tic Tac Toe Games</h1>

<ul class="games-list>

  <% @games.each do |game| %>

    <li>

      <%= link_to "Game##{game.id}", tictactoe_show_path(game) %>

    </li>

  <% end %>

</ul>



<%= link_to "Start a New Game", new_tictactoe_path, class: "btn btn-primary" %>
<%= link_to "Home", games_show_path %>