<!DOCTYPE html>
<html>
  <head>

    <title>Tic Tac Toe</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'tictactoe', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <div>
    <h1 class="s">Start</h1>


    <%= form_with(model: @tictactoe, url: tictactoe_index_path, local: true) do |form| %>

      <%= form.hidden_field :board, value: Array.new(9, nil).to_json %>

      <div class="actions">

        <%= form.submit "Start Game" %>

      </div>

    <% end %>

</div>


<%= link_to 'Back', tictactoe_index_path %>