<!DOCTYPE html>

<html>

  <head>

    <title>Tic Tac Toe</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'tictactoe', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'header', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag 'tictactoe', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= render 'partials/header' %>
    <div class='gameContainer'>
    <h2>Tic-Tac-Toe!</h2>
    <div class="boardContainer">

      <div class="board" id="board" data-game-id="<%= @tictactoe.id %>">

        <% @tictactoe.board.each_with_index do |cell, index| %>

          <div class="cell" data-cell data-index="<%= index %>"><%= cell %></div>

        <% end %>

      </div>

    </div>

    <div class="winning-message" id="winningMessage">

      <div id='winText' data-winning-message-text></div>
      <h3 id='wonTokens'>+<%= @tictactoe.bet_amount * 2 %> Tokens!<h3>
      <%= link_to "Play Again!", new_tictactoe_path, class: "playAgain" %>

    </div>

    </div>

    <%= javascript_include_tag 'tictactoe', 'data-turbolinks-track': 'reload' %>

  </body>

</html>