<!DOCTYPE html>

<html>

  <head>

    <title>Tic Tac Toe</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>

    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'tictactoe', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <h1>Tic Tac Toe</h1>

    <div class="boardContainer">

      <div class="board" id="board" data-game-id="<%= @tictactoe.id %>">

        <% @tictactoe.board.each_with_index do |cell, index| %>

          <div class="cell" data-cell data-index="<%= index %>"><%= cell %></div>

        <% end %>

      </div>

    </div>

    <div class="winning-message" id="winningMessage">

      <div data-winning-message-text></div>

     <%= link_to "Play Some More!", games_show_path %>

    </div>

    <%= link_to "Back", tictactoe_index_path %>

    <%= javascript_include_tag 'tictactoe', 'data-turbolinks-track': 'reload' %>

  </body>

</html>