<!DOCTYPE html>
<html>
<head>
  <title>Tokens</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tokens", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "coins", "data-turbo-track": "reload" %>
</head>

<body class="token-body">
  <div class="header">
    <img class="token-logo" src="<%= asset_path('logo.png') %>" alt="tokens">
    <a class="home-button" href="/games">Home</a>
  </div>
  
  <div class="tokens">
  <form action="/tokens" method="post" id="tokenForm">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token, id: "purchase_amount" %>
    
      <span class="token-wrapper">
        <button type="button" onclick="purchaseTokens(100)"></button>
        <span class="top-banner">100</span>
        <span class="bottom-banner">$1.99</span>
        <img class="coin1" src="<%= asset_path('coin.png') %>" alt="tokens">
      </span>
      
      <span class="token-wrapper">
        <button type="button" onclick="purchaseTokens(200)"></button>
        <span class="top-banner">600</span>
        <span class="bottom-banner">$4.99</span>
        <img class="coin2" src="<%= asset_path('coin.png') %>" alt="tokens">
        <img class="coin3" src="<%= asset_path('coin.png') %>" alt="tokens">
      </span>
      
      <span class="token-wrapper">
        <button type="button" onclick="purchaseTokens(300)"></button>
        <span class="top-banner">1500</span>
        <span class="bottom-banner">$9.99</span>
        <img class="coin4" src="<%= asset_path('coin.png') %>" alt="tokens">
        <img class="coin5" src="<%= asset_path('coin.png') %>" alt="tokens">
        <img class="coin6" src="<%= asset_path('coin.png') %>" alt="tokens">
      </span>
      
      <span class="token-wrapper">
        <button type="button" onclick="purchaseTokens(100)"></button>
        <span class="top-banner">100</span>
        <span class="bottom-banner">$29.99</span>
        <img class="coin7" src="<%= asset_path('coin.png') %>" alt="tokens">
        <img class="coin8" src="<%= asset_path('coin.png') %>" alt="tokens">
        <img class="coin9" src="<%= asset_path('coin.png') %>" alt="tokens">
        <img class="coin10" src="<%= asset_path('coin.png') %>" alt="tokens">
      </span>
      
      <span class="token-wrapper">
        <button type="button" onclick="purchaseTokens(200)"></button>
        <span class="top-banner">200</span>
        <span class="bottom-banner">$49.99</span>
        <img class="coin11" src="<%= asset_path('coin.png') %>" alt="tokens">
        <img class="coin12" src="<%= asset_path('coin.png') %>" alt="tokens">
        <img class="coin13" src="<%= asset_path('coin.png') %>" alt="tokens">
        <img class="coin14" src="<%= asset_path('coin.png') %>" alt="tokens">
        <img class="coin15" src="<%= asset_path('coin.png') %>" alt="tokens">
      </span>
      
      <span class="token-wrapper">
        <button type="button" onclick="purchaseTokens(300)"></button>
        <span class="top-banner">2</span>
        <span class="bottom-banner">$300000000.99</span>
        <img class="coin16" src="<%= asset_path('coin.png') %>" alt="tokens">
        <img class="coin17" src="<%= asset_path('coin.png') %>" alt="tokens">
        <img class="coin18" src="<%= asset_path('coin.png') %>" alt="tokens">
        <img class="coin19" src="<%= asset_path('coin.png') %>" alt="tokens">
        <img class="coin20" src="<%= asset_path('coin.png') %>" alt="tokens">
        <img class="coin21" src="<%= asset_path('coin.png') %>" alt="tokens">
      </span>
      
  </div>
  
  <script>
    function purchaseTokens(amount) {
      document.querySelector('#tokenForm').value = amount;
      document.querySelector('form').submit();
    }
  </script>

</body>
</html>
