<!DOCTYPE html>
<html>
  <head>
    <title>Tokens</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "new_token_purchase", "data-turbo-track": "reload" %>
  </head>

  <body>
  <h1>Purchase Tokens</h1>
  <%= form_with(url: tokens_path, method: :post) do |form| %>
    <%= form.hidden_field :authenticity_token, value: form_authenticity_token %>
  <%= form.hidden_field :amount, id: "purchase_amount" %>
    <%= form.button "Purchase $100.00", onclick: "purchaseTokens(100)" %>
    <%= form.button "Purchase $200.00", onclick: "purchaseTokens(200)" %>
    <%= form.button "Purchase $300.00", onclick: "purchaseTokens(300)" %>
  <% end %>
  <script>
  function purchaseTokens(amount) {
    document.getElementById('purchase_amount').value = amount;
    document.querySelector('form').submit();
  }
</script>

    <%= yield %>
  </body>
</html>