<!DOCTYPE html>
<html>
  <head>
    <title>Tokens</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tokens", "data-turbo-track": "reload" %>
  </head>

  <body class="token-body">
  <h1>Tokens</h1>
  <div class="tokens">
  <%= form_with(url: tokens_path, method: :post) do |form| %>
    <%= form.hidden_field :authenticity_token, value: form_authenticity_token %>
    <span class="token-wrapper">
    <%= form.button "", type: 'button', onclick: "purchaseTokens(100)" %>
    <span class="top-banner">100</span>
    <span class="bottom-banner">$1.99</span>
</span>

<span class="token-wrapper">
    <%= form.button "", type: 'button', onclick: "purchaseTokens(200)" %>
    <span class="top-banner">600</span>
    <span class="bottom-banner">$4.99</span>
</span>

<span class="token-wrapper">
    <%= form.button "", onclick: "purchaseTokens(300)" %>
    <span class="top-banner">1500</span>
    <span class="bottom-banner">$9.99</span>
</span>

<span class="token-wrapper">
    <%= form.button "", type: 'button', onclick: "purchaseTokens(100)" %>
    <span class="top-banner">100</span>
    <span class="bottom-banner">$29.99</span>
</span>

<span class="token-wrapper">
    <%= form.button "", type: 'button', onclick: "purchaseTokens(200)" %>
    <span class="top-banner">200</span>
    <span class="bottom-banner">$49.99</span>
</span>

<span class="token-wrapper">
    <%= form.button "", type: 'button', onclick: "purchaseTokens(300)" %>
    <span class="top-banner">2</span>
    <span class="bottom-banner">$300000000.99</span>
</span>
  <% end %>
  </div>
  <script>
  function purchaseTokens(amount) {
    document.getElementById('purchase_amount').value = amount;
    document.querySelector('form').submit();
  }
</script>

    <%= yield %>
  </body>
</html>