<!DOCTYPE html>
<html>
  <head>
    <title>checkers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "checkers", "data-turbo-track": "reload" %>

    <%= javascript_include_tag 'checkers', 'data-turbolinks-track': 'reload' %>

    </head>

  <body>
  <div>
  <h1>Checkers!</h1>
  <%= link_to "Home", games_show_path, class: "home" %>
  </div>

  <div class="boardContainer">
  <div class="game-board">
    <% @game_board.squares.each do |square| %>
      <div class="square <%= square.colour %>" data-row="<%= square.row %>" data-col="<%= square.column %>">
        <% if square.piece.present? %>
        <div class="piece <%= square.piece.color %> 
        <%= 'king' if square.piece.king? %>"  
        id="piece_<%= square.piece.id %>">
        </div>
        <% end %>  
        </div>
      <% end %>
  </div>
  </div>
  </body>
</html>