<!DOCTYPE html>
<html>
  <head>
    <title>FrancisGamble</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class='main_logo'>Francis Gamble</div>
    <div class='buttonz'><button>Register</button> or <button>Login</button></div>
    <%= render 'users/new' %>
    <%= render 'users/existing'%>
  </body>
</html>