<!DOCTYPE html>
<html>
<head>
  <title>FrancisGamble</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div class='main_logo'>Francis Gamble</div>
  <div class='buttonz'>
    <button id="registerBtn">Register</button> or <button id="loginBtn">Login</button>
  </div>

  <div id="registerForm" style="display: none;">
    <%= render 'users/new' %>
  </div>

  <div id="loginForm" style="display: none;">
    <%= render 'users/existing' %>
  </div>

  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const registerBtn = document.getElementById('registerBtn');
      const loginBtn = document.getElementById('loginBtn');
      const registerForm = document.getElementById('registerForm');
      const loginForm = document.getElementById('loginForm');

      registerBtn.addEventListener('click', function () {
        registerForm.style.display = 'block';
        loginForm.style.display = 'none';
      });

      loginBtn.addEventListener('click', function () {
        registerForm.style.display = 'none';
        loginForm.style.display = 'block';
      });
    });
  </script>
</body>
</html>
